/* Stylesheet für das responsive Design meiner Webseite. */
@media only screen and(max-device-width: 510px),
(max-width: 510px),
(orientation: portrait) {

    /* Anpassungen des Layouts */
    .header-container {
        grid-template-columns: 25% 50% 25%;
    }

    .footer-container {
        display: grid;
        height: 10vh;
        grid-template-columns: 33% 33% 33%;
        grid-template-areas: "startseite seitenstart ueber" "copyright copyright copyright";
        justify-items: center;
    }
}
